<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="bottom-tab tabs-icon-only" animation="slide-left-right">

  <!-- 首页 Tab -->
  <ion-tab icon-off="home" icon-on="home_on" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

 <!--  Dynamic Tab -->
  <ion-tab title="" icon-off="world" icon-on="world_on" href="#/tab/dynamics">
    <ion-nav-view name="tab-dynamic"></ion-nav-view>
  </ion-tab>

  <!-- Public Tab -->
  <ion-tab title="" icon-off="comment" icon-on="comment" href="#/public">
    <ion-nav-view name="tab-public"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="" badge="uncount" badge-style="badge-assertive" icon-off="private_letter" icon-on="private_letter_on" href="#/tab/letter">
    <ion-nav-view name="tab-letter"></ion-nav-view>
  </ion-tab>

  <!-- Personal Letter Tab -->
  <ion-tab icon-off="myacount" icon-on="myacount_on" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
