<ion-header-bar class="background-positive">
	<button class="button button-icon ion-ios-arrow-back" ng-click="go_back()"></button>
	<h1 class="title account-title" ng-class="marginleft">支付方式</h1>
</ion-header-bar>
<ion-view class="privilege">  
  <ion-content>    
	<ion-scroll style="max-height:{{max_list_height3}}px">
		<div class="days_cost">
			<p>购买 ： U币 {{gold_coins.coins}}天</p>
			<p>金额 ： <span class="cost">{{gold_coins.cost}}.00</span>元  RMB</p>
		</div>
		<div class="money_bag">选择支付方式</div>
		<ion-list class="list payment_method">
			<ion-radio ng-model="payment.mode" ng-value="'alipay'">
				<img src="img/account/ic_alipay.png"/>
				<h2>支付宝支付</h2>
			</ion-radio>
			<ion-radio ng-model="payment.mode" ng-value="'weixin'">
				<img src="img/account/ic_weixin.png"/>
				<h2>微信支付</h2>
			</ion-radio>
		</ion-list>
		<div class="button-payment">
			<button class="button background-positive button-positive" ng-click="coins_pay()">确认支付</button>
		</div>
	<ion-scroll>
  </ion-content>
</ion-view>
